@model MvcProjectTest.Models.BookMix
@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.cardIndex = 0;
}

<div class="productdetail">
    <div class="container">
        <div class="productdetail-all">
            <div class="product-left">
                <div class="product-big-picture">
                    <img src="~/Assets/Images/@Html.DisplayFor(model => model.Book.CategoryEngName)/@Html.DisplayFor(model => model.Book.BookImage)" id="pd-large-pic" alt="商品圖" />
                </div>
                <div class="product-little-picture">
                    <ul>
                        <li>
                            <button type="button"
                                    class="product-little-picture-button product-little-picture-slide-left">
                                <i class="fas fa-angle-left"></i>
                            </button>
                        </li>
                        <li class="pd-recommend-item-block product-little-picture-slide-main">
                            <ul class="product-little-picture-slideblock">
                                <li class="product-little-picture-slide-li">
                                    <button class="pd-little-pic-button">
                                        <img src="~/Assets/Images/@Html.DisplayFor(model => model.Book.CategoryEngName)/@Html.DisplayFor(model => model.Book.BookImage)" alt="商品圖"
                                             style="width:100px;height:100px;">
                                    </button>
                                </li>
                                <li class="product-little-picture-slide-li">
                                    <button class="pd-little-pic-button">
                                        <img src="~/Assets/Images/@Html.DisplayFor(model => model.Book.CategoryEngName)/@Html.DisplayFor(model => model.Book.BookImage)" alt="商品圖"
                                             style="width:100px;height:100px;">
                                    </button>
                                </li>
                                <li class="product-little-picture-slide-li">
                                    <button class="pd-little-pic-button">
                                        <img src="~/Assets/Images/@Html.DisplayFor(model => model.Book.CategoryEngName)/@Html.DisplayFor(model => model.Book.BookImage)" alt="商品圖"
                                             style="width:100px;height:100px;">
                                    </button>
                                </li>
                                <li class="product-little-picture-slide-li">
                                    <button class="pd-little-pic-button">
                                        <img src="~/Assets/Images/@Html.DisplayFor(model => model.Book.CategoryEngName)/@Html.DisplayFor(model => model.Book.BookImage)" alt="商品圖"
                                             style="width:100px;height:100px;">
                                    </button>
                                </li>
                                <li class="product-little-picture-slide-li">
                                    <button class="pd-little-pic-button">
                                        <img src="~/Assets/Images/@Html.DisplayFor(model => model.Book.CategoryEngName)/@Html.DisplayFor(model => model.Book.BookImage)" alt="商品圖"
                                             style="width:100px;height:100px;">
                                    </button>
                                </li>
                                <li class="product-little-picture-slide-li">
                                    <button class="pd-little-pic-button">
                                        <img src="~/Assets/Images/@Html.DisplayFor(model => model.Book.CategoryEngName)/@Html.DisplayFor(model => model.Book.BookImage)" alt="商品圖"
                                             style="width:100px;height:100px;">
                                    </button>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <button type="button"
                                    class="product-little-picture-button product-little-picture-slide-right">
                                <i class="fas fa-angle-right"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-right">
                <div class="flex">
                    <h2 class="pd-product-name-title">@Html.DisplayFor(model => model.Book.BooksName)</h2>
                    <div class="heart-click-box flex">
                        <button class="heart-click-button"><i class="far fa-heart"></i></button>
                    </div>
                </div>
                <div class="pd-product-price-block">
                    TWD
                    <div class="pd-product-discount-box">
                        <span class="pd-product-original-text">$@Html.DisplayFor(model => model.Book.UnitPrice)</span>
                    </div>
                    <div class="pd-product-discount-box">
                        <span class="pd-product-discount-text">$200</span>
                        <span class="pd-product-discount-textshow">Save 10%</span>
                    </div>
                </div>
                <div class="productlist">
                    <ul>
                        <li><span class="pd-productlist-title">作者</span><span class="pd-productlist-content">@Html.DisplayFor(model => model.Book.AuthorName)</span></li>
                        <li><span class="pd-productlist-title">語言</span><span class="pd-productlist-content">@Html.DisplayFor(model => model.Book.CategoryEngName)</span></li>
                        <li><span class="pd-productlist-title">出版社</span><span class="pd-productlist-content">@Html.DisplayFor(model => model.Book.PressName)</span></li>
                        <li><span class="pd-productlist-title">出版日期</span><span class="pd-productlist-content">2019/01/01</span></li>
                        <li>
                            <span class="pd-productlist-title">ISBN</span>
                            <span class="pd-productlist-content">@Html.DisplayFor(model => model.Book.ISBN)</span>
                        </li>
                    </ul>
                </div>
                <div class="pd-order-block">
                    <form action="ActionName">
                        <div class=" pd-order-block-style">
                            <p class="pd-order-title-text">訂購數量</p>
                            <input type="text" class="pd-quantity-textbox" value="1">
                            <button type="submit" class="pd-join-shoppingcart">
                                <i class="fas fa-shopping-cart"></i>
                                加入購物車
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="pd-productdetail-information">
            <h2 class="pd-productdetail-information-h2">書籍簡介</h2>
            <div class="pd-productdetail-information-content">
                @Html.Raw(Model.Book.Description)
            </div>
        </div>
    </div>
</div>
<section class="other-product">
    <div class="container">
        <h2 class="pd-recomment-title-h2">You Might Also Like</h2>
        <div class="pd-product-card-list-block">
            <div class="pd-product-recommend-left-block">
                <button type="button" class="pd-product-recommend-button slide-left">
                    <i class="fas fa-angle-left"></i>
                </button>
            </div>
            <div class="pd-recommend-item-block slide-main">
                <div class="product-card-outside-slideblock">
                    @foreach (var item in Model.SelectBooks)
                    {
                        ViewBag.cardIndex++;
                        @Html.Partial("_ProductCardPartial", item)
                    }
                </div>
            </div>
            <div class="pd-product-recommend-right-block">
                <button type="button" class="pd-product-recommend-button slide-right">
                    <i class="fas fa-angle-right"></i>
                </button>
            </div>
        </div>
    </div>
</section>

@section topCss {
<link href="~/Assets/Css/productdetail_stylesheet.css" rel="stylesheet" />
<link href="~/Assets/Css/new-product-card.css" rel="stylesheet" />
<link href="~/Assets/Css/slide-card.css" rel="stylesheet" />
}
@section scripts {
<script>
    $(document).ready(function () {
        var docw = $(".container").width() * 0.9;
        $(".slide-right").click(moveRight);
        $(".slide-left").click(moveLeft);


        function moveRight() {
            $(".slide-right").off("click");
            $(".slide-main").animate({
                scrollLeft: $(".slide-main").scrollLeft() + docw
            }, 500, function () { $(".slide-right").click(moveRight); });
        }

        function moveLeft() {
            $(".slide-left").off("click");
            $(".slide-main").animate({
                scrollLeft: $(".slide-main").scrollLeft() - docw
            }, 500, function () { $(".slide-left").click(moveLeft); });
        }
    });
</script>
<script>
    $(document).ready(function () {
        var docw = $(".product-left").width() * 0.3;
        $(".product-little-picture-slide-right").click(moveRight);
        $(".product-little-picture-slide-left").click(moveLeft);


        function moveRight() {
            $(".product-little-picture-slide-right").off("click");
            $(".product-little-picture-slide-main").animate({
                scrollLeft: $(".product-little-picture-slide-main").scrollLeft() + docw
            }, 500, function () { $(".product-little-picture-slide-right").click(moveRight); });
        }

        function moveLeft() {
            $(".product-little-picture-slide-left").off("click");
            $(".product-little-picture-slide-main").animate({
                scrollLeft: $(".product-little-picture-slide-main").scrollLeft() - docw
            }, 500, function () { $(".product-little-picture-slide-left").click(moveLeft); });
        }
    });
</script>

<script>

    $(document).ready(function () {
        var burron = true;
        $(".heart-click-button").click(clickheartbutton);

        function clickheartbutton() {
            if (burron == true) {

                $(".heart-click-button i").removeClass("far").addClass("fas");
                burron = false;
            }
            else {
                $(".heart-click-button i").removeClass("fas").addClass("far");
                burron = true;
            }
        }
    });



</script>

<!-- 小圖替換大圖 -->
<script>

    $(function () {
        $(".pd-little-pic-button").click(little_pic_change_event);

        function little_pic_change_event() {
            var littleImgSrc = $(this).children("img").attr("src");


            $("#pd-large-pic").attr("src", littleImgSrc);
        }
    });
</script>

}