@model IEnumerable<MvcProjectTest.Models.Customer>
@{
    ViewBag.Title = "CustomerIndex";
    Layout = "~/Views/Shared/_BackStageLayout.cshtml";
}

@Styles.Render("~/Back-css/BackCustomerIndex")
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>會員管理系統</h3>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>會員總覽</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>CustomerID</th>
                                <th>CustomerName</th>
                                <th>CustomerAccount</th>
                                <th>CustomerPhone</th>
                                <th>CustomerBirth</th>
                                <th>CustomerAddress</th>
                                <th>CustomerEmail</th>
                                <th>EmailConfirmed</th>
                                <th>Action</th>
                            </tr>
                        </thead>


                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CustomerId</td>
                                <td>@item.CustomerName</td>
                                <td>@item.CustomerAccount</td>
                                <td>@item.CustomerPhone</td>
                                <td>@item.CustomerBirth.ToString("yyyy/MM/dd")</td>
                                <td>@item.CustomerAddress</td>
                                <td>@item.CustomerEmail</td>
                                <td>@item.EmailConfirmed</td>
                                <td style="text-align: center">
                                    <a href='@Url.Action("CustomerDetails","BackStage",new { id = item.CustomerAccount})' type="button" class="btn btn-info btn-xs">明細</a>
                                    <a href="CustomerEdit.html" type="button" class="btn btn-warning btn-xs">修改</a>
                                </td>
                            </tr>
                        }
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Back-Script/BackCustomerIndex")

