@model Book
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_BackStageLayout.cshtml";
}


@Styles.Render("~/Back-css/BackCustomerDetails")
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>產品明細</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-xs-12">

            <div class="x_panel">
                <div class="x_title">
                    <h2>產品基本資訊<a href='@Url.Action("Index", "BackStage")'><small>Back to list</small></a></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="dropdown" style="visibility: hidden;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />

                    <!-- start form for validation -->
                    <!-- 撈資料庫的 -->

                    <div class="form-horizontal form-label-left">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BookID">
                                BookID
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="BookID" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    @Model.BookId
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BookName">
                                BookName
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="BookName" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    @Model.BooksName
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PressID">
                                PressName
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="PressID" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    @Model.PressName
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CategoryID">
                                CategoryName
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="CategoryID" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">@Model.CategoryEngName</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="AuthorID">
                                AuthorName
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="AuthorID" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    @Model.AuthorName
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="UnitPrice">
                                UnitPrice
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="UnitPrice" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">@Model.UnitPrice</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="InStock">
                                InStock
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="InStock" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    @Model.InStock
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Discount">
                                Discount
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="Discount" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    @Model.Discount
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ISBN">
                                ISBN
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="ISBN" class="control-label col-md-7 col-xs-12" style="text-align: left;">
                                    @Model.Discount
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="BookImage">
                                BookImageName
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p type="text" id="BookImage" class="control-label col-md-7 col-xs-12"
                                   style="text-align: left;">@Model.BookImage</p>
                            </div>
                        </div>
                        <!-- 產品描述 -->
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">
                                Description
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12"
                                 style="border-radius: 5px; border: 1px #f0f0f0 solid; background-color: #f8f8f8;">
                                <div class="content" style="height:auto;" itemprop="description">
                                    <div style="text-align: center;">
                                        @(Html.Raw(Model.Description))

                                    </div>
                                    <!-- 資料庫存的是HTML格式(含CSS) -->
                                </div>
                            </div>
                        </div>

                        <!-- end form for validations -->

                    </div>
                </div>


            </div>

        </div>
    </div>

    @Scripts.Render("~/Back-Script/BackCustomerDetails")

