@using MvcProjectTest.ViewModels;
@model Order
@{
    ViewBag.Title = "新知書櫥";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";


}

<style>
    .product-name{
         overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
    }
</style>

@Styles.Render("~/css/cartAndWishView")
<div class="container" style="margin-top: 50px;">
    <div class="shipping-status">
        <div class="container">
            <ul class="shipping-progress">
                <li class="active">購物車</li>
                <li class="active">運送資訊</li>
                <li class="active">訂單確認</li>
                <li class="active">訂單成立</li>
            </ul>
        </div>
    </div>

    <div class="order-success-check m-3">
        <div class="section">
            <h3>謝謝您，訂單已成立。</h3>
            <h5>我們將會盡快將您的商品進行配送，商品將會在2~5天送達。</h5>
            <h5>請密切注意您的信箱是否有到貨通知！</h5>
            <center>
                @Html.ActionLink("繼續購物！", "Index", "Book", null,
                               new { @class = "btn btn-dark m-3", @role = "button", @style = "text-indent: 0;", })
                @*<button class="btn btn-dark m-3">繼續購物！</button>*@
            </center>
            <div class="order-success-info row">
                <div class="for-Customer col-6 mt-5">
                    <div class="order-info">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-white bg-dark ">訂單資訊</div>
                            <!-- 內文 -->
                            <div class="card-body">
                                <h5 class="card-title">訂單編號</h5>
                                <p class="card-text">@Model.OrderNo</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">訂單日期</h5>
                                <p class="card-text">@Model.OrderDate</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">訂單狀態</h5>
                                <p class="card-text">訂單處理中</p>
                            </div>
                        </div>
                    </div>

                    <div class="recipient-info">
                        <div class="card bg-light mb-3">
                            <div class="card-header text-white bg-dark ">顧客資訊</div>
                            <!-- 內文 -->
                            <div class="card-body">
                                <h5 class="card-title">收件人姓名</h5>
                                <p class="card-text">@Model.Recipient</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">收件人手機</h5>
                                <p class="card-text">@Model.RecipientPhone</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">收件人地址</h5>
                                <p class="card-text">@Model.RecipientAddress</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">收件人Email</h5>
                                <p class="card-text">@Model.RecipientEmail</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">配送方式</h5>
                                <p class="card-text">@Model.DeliveryMethod</p>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">付款方式</h5>
                                <p class="card-text">@Model.PayWay</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="for-Item col-6 mt-5">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-white bg-dark ">商品詳情</div>
                        <!-- <div class="card-body">
                            <img src="/images/book/C-BOOK/010001.jpg">
                            <p class="card-title">安靜是種超能力：寫給內向者的職場進擊指南，話不多，但大家都會聽你說</p>
                            <p class="card-text">1本 x NT$666 = NT$666</p>
                        </div> -->
                        <ul class="media-list card-body" id="product-list-block">
                            @*<li class="media">
                                <div class="media-left">
                                    <a href="#" title="安靜是種超能力：寫給內向者的職場進擊指南，話不多，但大家都會聽你說">
                                        <img class="media-object" src="~/Assets/Images/TChinese/010001.jpg"
                                             alt="這是其中一本書">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <span class="product-name">安靜是種超能力：寫給內向者的職場進擊指南，話不多，但大家都會聽你說</span>
                                    <span class="product-quantity">1本x</span>
                                    <span class="product-price" style="text-indent: 0;">NT$666</span>
                                    <span class="product-total">= NT$666</span>
                                    <br>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="#" title="安靜是種超能力：寫給內向者的職場進擊指南，話不多，但大家都會聽你說">
                                        <img class="media-object" src="~/Assets/Images/TChinese/010002.jpg"
                                             alt="這是其中一本書">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <span class="product-name">安靜是種超能力：寫給內向者的職場進擊指南，話不多，但大家都會聽你說</span>
                                    <span class="product-quantity">1本x</span>
                                    <span class="product-price" style="text-indent: 0;">NT$666</span>
                                    <span class="product-total">= NT$666</span>
                                    <br>
                                </div>
                            </li>*@
                        </ul>

                        <table class="order-check-detail">
                            @*<tr>
                                 OrderID 
                                <th>小計：</th>
                                <td>NT$000</td>
                            </tr>*@
                            <tr>
                                <!-- OrderDate -->
                                <th>運費：</th>
                                <td>NT$@Model.ShippingRate</td>
                            </tr>
                            <tr>
                                <!-- OrderDate -->
                                <th>總金額：</th>
                                <td>NT$@Model.TotalPrice</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function () {
            // $item_counts = $(".cart-items").find("table").length;
            $(window).scroll(function () {
                if ($(this).scrollTop() > 0) {          /* 要滑動到選單的距離 */
                    $('.dropdowns').addClass('navFixed');   /* 幫選單加上固定效果 */
                } else {
                    $('.dropdowns').removeClass('navFixed'); /* 移除選單固定效果 */
                }
            });
            $('input').keyup(function (e) {
                if ($(this).val().length == $(this).attr('maxlength'))
                    $(this).next(':input').focus();
            });
            // $(".scifiUI").height($(".scifiUI").height() + 80 * $item_counts);
            // console.log($item_counts, $(".scifiUI").height());
        });



    </script>


    <script>
        $(function () {
            $.ajax({
                type: "POST",
                    url: '@Url.Action("GetOpList", "Shopping")',
            })
                .done(function (opList) {
                    for (var i = 0; i < opList.length; i++) {


                        $("#product-list-block").append(
                            '<tr class="ordercheck-list-height">\
                    <td class="cart-item-img"><img src="' + opList[i].BookImage + '" alt=""></td>\
                    <td class="item-name-list"><a class="product-name" href="#">'+ opList[i].BooksName +'</a></td>\
                    <td class="item-qty-list"> <span>'+ opList[i].Quantity + '</span> </td>\
                    <td class="item-price-list">'+ parseInt( parseInt(opList[i].Quantity) * parseInt(opList[i].UnitPrice) * (1-parseFloat(opList[i].Discount))) +'</td>\
                </tr>'
                        );
                    }
                });



        })
    </script>

}

