@model MvcProjectTest.Models.OrderDetailMix
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()  
    <div class="orderdetails">
        <div class="container">
            <a href="#">
                <h3><i class="fas fa-angle-left"></i> 返回交易紀錄</h3>
            </a>
            <div class="order-container">
                <div class="orderdetails-transport ">
                    <div class="titlename">訂單狀態</div>
                    <div class="shipping-status">
                        <ul class="shipping-progress">
                            <li class="active">訂單成立</li>
                            <li>準備出貨</li>
                            <li>運送中</li>
                            <li>待取貨</li>
                            <li>完成取貨</li>
                            <li>交易完成</li>
                        </ul>
                    </div>
                    <div class="orderdetails-transport-down flex">
                        <div class="orderdetails-transport-ulbox">
                            <ul class="orderdetails-transport-list">
                                <li class="orderdetails-transport-list-item width100">訂單成立</li>
                                <li class="orderdetails-transport-list-item width100">準備出貨</li>
                                <li class="orderdetails-transport-list-item width100">運送中</li>
                                <li class="orderdetails-transport-list-item width100">待取貨</li>
                                <li class="orderdetails-transport-list-item width100">完成取貨</li>
                                <li class="orderdetails-transport-list-item width100">交易完成</li>
                            </ul>
                        </div>
                        @{
                            string full = "未完成";
                            string setUp = "";
                            string preparation = "";
                            string delivery = "";
                            string pickUp = "";
                            string completePickup = "";
                            string transactionComplete = "";
                            if (Model.OrderStatus.SetUp == null)
                            {setUp = full;}
                            else
                            {setUp = Model.OrderStatus.SetUp.ToString();}
                            if (Model.OrderStatus.Preparation == null)
                            {preparation = full;}
                            else
                            {preparation = Model.OrderStatus.Preparation.ToString();}
                            if (Model.OrderStatus.Delivery == null)
                            {delivery = full;}
                            else
                            {delivery = Model.OrderStatus.Delivery.ToString();}
                            if (Model.OrderStatus.PickUp == null)
                            {pickUp = full;}
                            else
                            {pickUp = Model.OrderStatus.PickUp.ToString();}
                            if (Model.OrderStatus.CompletePickup == null)
                            {completePickup = full;}
                            else
                            {completePickup = Model.OrderStatus.CompletePickup.ToString();}
                            if (Model.OrderStatus.TransactionComplete == null)
                            {transactionComplete = full;}
                            else
                            {transactionComplete = Model.OrderStatus.TransactionComplete.ToString();}
                        }
                        <div class="orderdetails-transport-ulbox">
                            <ul class="orderdetails-transport-list">
                                <li class="orderdetails-transport-list-item width100">@setUp</li>
                                <li class="orderdetails-transport-list-item width100">@preparation</li>
                                <li class="orderdetails-transport-list-item width100">@delivery</li>
                                <li class="orderdetails-transport-list-item width100">@pickUp</li>
                                <li class="orderdetails-transport-list-item width100">@completePickup</li>
                                <li class="orderdetails-transport-list-item width100">@transactionComplete</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="orderdetails-customer">
                    <div class="titlename ">收件人資料</div>
                    <div class="customer-detail flex">
                        <div class="orderdetails-transport-ulbox">
                            <ul class="orderdetails-transport-list">
                                <li class="orderdetails-customer-item width100 ">收件人姓名</li>
                                <li class="orderdetails-customer-item width100 ">收件人電話</li>
                                <li class="orderdetails-customer-item width100 ">取貨方式</li>
                                <li class="orderdetails-customer-item width100 ">付款方式</li>
                                <li class="orderdetails-customer-item width100 ">取貨地點</li>
                            </ul>
                        </div>
                        <div class="orderdetails-transport-ulbox">
                            <ul class="orderdetails-transport-list">
                                <li class="orderdetails-customer-item width100 textleft">@Model.Order.Recipient</li>
                                <li class="orderdetails-customer-item width100 textleft">@Model.Order.RecipientPhone</li>
                                <li class="orderdetails-customer-item width100 textleft">@Model.Order.DeliveryMethod</li>
                                <li class="orderdetails-customer-item width100 textleft">@Model.Order.PayWay</li>
                                <li class="orderdetails-customer-item width100 textleft">@Model.Order.RecipientAddress</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="orderdetails-productsdetail">
                    <div class="orderdetails-productsdetail-header">
                        <ul class="orderdetails-productsdetail-header-list width100">
                            <li class="orderdetails-productsdetail-item">商品名稱</li>
                            <li class="orderdetails-productsdetail-item">訂購數量</li>
                            <li class="orderdetails-productsdetail-item">商品價格</li>
                            <li class="orderdetails-productsdetail-item">折扣</li>
                            <li class="orderdetails-productsdetail-item">總金額</li>
                        </ul>
                    </div>

                    @foreach (var item in Model.OrderDetails)
                    {
                        decimal sum = item.Counts * item.UnitPrice * (1 - item.Discount);
                        <div class="orderdetails-productsdetail-bodt">
                            <ul class="orderdetails-productsdetail-body-list">
                                <li class="orderdetails-productsdetail-item">@item.BooksName</li>
                                <li class="orderdetails-productsdetail-item">@item.Counts</li>
                                <li class="orderdetails-productsdetail-item">@item.UnitPrice.ToString("#,0")$</li>
                                <li class="orderdetails-productsdetail-item">@item.Discount</li>
                                <li class="orderdetails-productsdetail-item">@sum.ToString("#,0")</li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@section topCss {
    <link href="~/Assets/Css/orderdetails.css" rel="stylesheet" />
}