@model MvcProjectTest.ViewModels.ForgetPwdViewModel

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

    bool IsPass = false;
    if (ViewData["IsPass"] != null)
    {
        IsPass = (bool)ViewData["IsPass"];
    }
}
@if (IsPass)
{
<div class="forget-password">
    <div class="container">
        <div class="forget-password-block">
            <p class="forget-password-sendEmail">確認成功，請至您的信箱確認是否收到驗證信</p>
            <div>
                <input type="submit" class="forget-password-block-button button-style" value="確認">
            </div>
        </div>

    </div>
</div>
}
else
{
    using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

<div class="forget-password">
    <div class="container">
        <div class="forget-password-block">
            <div class="forget-password-block-title">
                <h4>忘記密碼</h4>
            </div>
            <div class="forget-password-block-input">
                <div class="forget-input-and-icon-row-block">
                    <i class="fas fa-user forget-row-icon"></i>
                    @Html.TextBoxFor(m => m.CustomerAccount, new { placeholder = "請輸入會員帳號", @class = "forget-password-block-content-style" })
                    @Html.ValidationMessageFor(m => m.CustomerAccount, "", new { @class = "prompt-text text-danger" })

                </div>
                <div class="forget-input-and-icon-row-block">
                    <i class="fas fa-calendar-day forget-row-icon"></i>
                    @Html.EditorFor(m => m.CustomerBirth, "", new { @class = "datepicker forget-password-block-content-style" })
                    @Html.ValidationMessageFor(m => m.CustomerBirth, "", new { @class = "prompt-text text-danger" })
                    @*<input type="text" class="forget-password-block-content-style" placeholder="請輸入生日">*@
                </div>
            </div>
            <div>
                <input type="submit" class="forget-password-block-button button-style" value="確認會員資料">
                @Html.ValidationSummary(true, "", new { @class = "prompt-text text-danger" })
            </div>
        </div>
    </div>
</div>
    }
}


@section topCss {
    <link href="~/Assets/Css/forget-password.css" rel="stylesheet" />
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
