@model MvcProjectTest.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="member-Login">
        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "prompt-text" })
            <section>
                <div class="member-Login-title">
                    <h1>Log in to your account</h1>
                </div>
                <div class="member-Login-content">
                    <form action="">
                        <div class="member-Login-account member-Login-content-all">
                            <div class="member-Login-content-title">
                                @Html.LabelFor(m => m.CustomerAccount)
                            </div>
                            <div class="member-Login-right">
                                @Html.EditorFor(m => m.CustomerAccount, new { htmlAttributes = new { placeholder = "請輸入會員帳號", @class = "member-Login-enter-information" } })
                                @Html.ValidationMessageFor(m => m.CustomerAccount, "", new { @class = "prompt-text text-dan" })
                            </div>
                        </div>
                        <div class="member-Login-password member-Login-content-all">
                            <div class="member-Login-content-title">
                                @Html.LabelFor(m => m.CustomerPassword)
                            </div>
                            <div class="member-Login-right">
                                @Html.PasswordFor(m => m.CustomerPassword, new { placeholder = "請輸入會員密碼", @class = "member-Login-enter-input member-Login-enter-information" })
                                @Html.ValidationMessageFor(m => m.CustomerPassword, "", new { @class = "prompt-text text-dan" })
                                <input type="button" class="member-Login-show-button button-style" id="show-password-button1" value="Show">
                            </div>
                        </div>
                        <div class="member-Login-forget-account">
                            @Html.ActionLink("忘記密碼?", "ForgetPassword", "Account", new { }, new { @class = "member-Login-forget-button" })
                        </div>
                    </form>
                    <div class="save-infomation">
                        <input type="submit" class="save-button button-style-Login">
                    </div>
                </div>
                <div class="member-Login-Create-account">
                    <p>還沒有帳號? @Html.ActionLink("註冊", "Registration", "Account", new { }, new { @class = "member-Login-forget-button" })</p>
                </div>
            </section>
        </div>
    </div>
}

@section topCss {
    <link href="~/Assets/Css/member-Login.css" rel="stylesheet" />
}
@section scripts {
    
    <script>
        var buttonDom;
        var buttonIdName = "show-password-button";
        setShowOnClick();

        function setShowOnClick() {
            for (var i = 1; ; i++) {

                buttonDom = document.getElementById(buttonIdName + i);
                if (!buttonDom) {
                    break;
                }

                buttonDom.addEventListener("click", showPassWord);

            }
        }


        function showPassWord() {
            var index = this.id.split("show-password-button1");
            var passwordInputDom = document.getElementById( "CustomerPassword" );
            if (passwordInputDom.type === "password") {
                passwordInputDom.type = "text";
                this.value = "Hide";
            } else {
                passwordInputDom.type = "password";
                this.value = "Show";
            }
        }
    </script>
}
