@model MvcProjectTest.ViewModels.ResetPwdViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="forget-password">
        <div class="container">
            <div class="forget-password-block">
                <div class="forget-password-block-title">
                    <h4>修改密碼</h4>
                </div>
                <div class="forget-password-block-input">
                    <div class="forget-input-and-icon-row-block">
                        <i class="fas fa-key forget-row-icon"></i>
                        @Html.PasswordFor(m => m.CustomerPassword, new { placeholder = "請輸入新密碼", @class = "forget-password-block-content-style" })
                        @Html.ValidationMessageFor(m => m.CustomerPassword, "", new { @class = "prompt-text text-dan" })
                        
                    </div>
                    <div class="forget-input-and-icon-row-block">
                        <i class="fas fa-key forget-row-icon"></i>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "確認密碼", @class = "forget-password-block-content-style" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "prompt-text text-dan" })
                    </div>

                </div>
                <div>
                    <input type="submit" class="forget-password-block-button" value="修改密碼">
                </div>
            </div>
        </div>
    </div>
   
}
@section topCss {
    <link href="~/Assets/Css/forget-password.css" rel="stylesheet" />
}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

